{{ define "default.admin.site.page.edit" }}
    {{ template "default.admin.header" . }}

    <section class="container" id="site-edit">
        <a class="button" href="/admin/sites/a/{{ .Extra.SiteID }}">Back</a>

        {{ if .Error }}
            <div class="alert alert-danger" role="alert">
                {{ .Error }}
            </div>
        {{ end }}

        {{ if .Warning }}
            <div class="alert alert-warning" role="alert">
                {{ .Warning }}
            </div>
        {{ end }}

        {{ if .Message }}
            <div class="alert alert-info" role="alert">
                {{ .Message }}
            </div>
        {{ end }}

        <form method="post">
            <fieldset>
                <label for="titleField">Title</label>
                <input type="text" placeholder="" name="titleField" id="titleField" value="{{ .Extra.Title }}">
                <label for="slugField">Slug</label>
                <input type="text" placeholder="" name="slugField" id="slugField" value="{{ .Extra.Slug }}">
                <p>
                    <a href="https://{{.Extra.SiteDomain}}{{ .Extra.Slug }}">https://{{.Extra.SiteDomain}}{{ .Extra.Slug }}</a>
                </p>
                <label for="templateField">Template</label>
                <select name="templateField" id="templateField">
                    {{ . }}
                    {{ range $Key, $Name := .Templates }}
                        <option value="{{ $Key }}"{{ if and ($.Extra) (eq $.Extra.Template $Key) }} SELECTED{{end}}>{{ $Name }}</option>
                    {{ end }}
                </select>
                <label for="contentField">Content</label>
                <textarea placeholder="" name="contentField" id="contentField">
                    {{ .Extra.Content }}
                </textarea>
                <input class="button-primary" type="submit" value="Update">
            </fieldset>
        </form>
    </section>

    {{ template "default.footer" . }}
{{ end }}