{{ define "default.admin.site.page.home" }}
    {{ template "default.admin.header" . }}

    <section class="container" id="sites-list">

        {{ if .Error }}
            <div class="alert alert-danger" role="alert">
                {{ .Error }}
            </div>
        {{ end }}

        {{ if .Warning }}
            <div class="alert alert-warning" role="alert">
                {{ .Warning }}
            </div>
        {{ end }}

        {{ if .Message }}
            <div class="alert alert-info" role="alert">
                {{ .Message }}
            </div>
        {{ end }}

        <a class="button" href="/admin/sites/a/{{ .Extra.SiteID }}/page/new">New Page</a>
        <a class="button" href="/admin/">Back</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {{if and (.Extra) (.Extra.pagesRes) }}
                {{range .Extra.pagesRes}}
                    <tr>
                        <td>{{ .id }}</td>
                        <td>{{ .title }}</td>
                        <td>{{ .slug }}</td>
                        <td><a class="button" target="_blank" href="{{ .slug }}">View</a></td>
                        <td><a class="button" href="/admin/sites/a/{{ $.Extra.SiteID }}/page/edit/{{ .id }}">Edit</a>
                        </td>
                        <td><a class="button button-clear"
                               href="/admin/sites/a/{{ $.Extra.SiteID }}/page/delete/{{ .id }}">Delete</a></td>
                    </tr>
                {{end}}

            {{ else }}
                <tr>
                    <td colspan="3">There are currently no pages</td>
                </tr>
            {{ end }}

        </table>
    </section>

    {{ template "default.footer" . }}
{{ end }}