{{ define "default.admin.site.page.add" }}
    {{ template "default.admin.header" . }}

    <section class="container" id="site-page-new">
        <a class="button" href="/admin/sites/admin/{{ .Extra.SiteID }}">Back</a>

        {{ if .Error }}
            <div class="alert alert-danger" role="alert">
                {{ .Error }}
            </div>
        {{ end }}

        {{ if .Warning }}
            <div class="alert alert-warning" role="alert">
                {{ .Warning }}
            </div>
        {{ end }}

        {{ if .Message }}
            <div class="alert alert-info" role="alert">
                {{ .Message }}
            </div>
        {{ end }}

        <form method="post">
            <fieldset>
                <label for="titleField">Title</label>
                <input type="text" placeholder="" name="titleField" id="titleField">
                <label for="slugField">Slug</label>
                <input type="text" placeholder="" name="slugField" id="slugField">
                <label for="templateField">Template</label>
                <select name="templateField" id="templateField">
                    {{ range $templateKey, $templateName := .Templates }}
                        <option value="{{ $templateKey }}">{{ $templateName }}</option>
                    {{ end }}
                </select>
                <label for="contentField">Content</label>
                <textarea placeholder="" name="contentField" id="contentField">

                </textarea>
                <input class="button-primary" type="submit" value="Create">
            </fieldset>
        </form>
    </section>

    {{ template "default.footer" . }}
{{ end }}