{{ define "default.register" }}
    {{ template "default.header" . }}

    <main role="main" class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <h1>Register</h1>
                <div class="card">
                    <div class="card-body">
                        {{ if .Error }}
                            <div class="alert alert-danger" role="alert">
                                {{ .Error }}
                            </div>
                        {{ end }}

                        {{ if .Warning }}
                            <div class="alert alert-warning" role="alert">
                                {{ .Warning }}
                            </div>
                        {{ end }}

                        {{ if .Message }}
                            <div class="alert alert-info" role="alert">
                                {{ .Message }}
                            </div>
                        {{ end }}
                        <form action="/register" method="post" autocomplete="off">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <button type="button" id="sendregister" class="btn btn-primary" onclick="submit()">
                                register
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- /.container -->

    {{ template "default.footer" . }}
{{ end }}