{{ define "default.head" }}
    <head>
        <title>{{.Title}} - {{.WebsiteName}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Markus Tengamn">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/default/images/favicon.ico">
        <link rel="stylesheet" href="/default/css/normalize.min.css">
        <link rel="stylesheet" href="/default/css/milligram.min.css">
        <link rel="stylesheet" href="/default/css/style.min.css">
    </head>
{{ end }}