{{ define "default.page" }}
{{ template "default.header" . }}

{{block "content" .}}
    <section class="page-header" id="main-header">
        <div class="container">
            <h2>{{.Title}}</h2>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,0 40,100 101,20 101,101 0,101"></polygon>
        </svg>
    </section>

    <section id="content-section">
        <div class="container">
            {{.Content}}
        </div>
    </section>

{{ end }}

{{ template "default.footer" . }}
{{ end }}