{{ define "default.admin.head" }}
    <head>
        <title>{{.Title}} - {{.WebsiteName}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Markus Tengamn">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{.Favicon}}">
        {{range $stylesheet := .Stylesheets }}
            <link rel="stylesheet" href="{{ $stylesheet }}">
        {{ end }}
    </head>
{{ end }}