{{ define "qby_se.footer" }}
<footer id="gtco-footer" class="gtco-section" role="contentinfo">
    <div class="gtco-container">
        <div class="row row-pb-md">
            <div class="col-md-12 gtco-cta text-center">
                <h3>Want to know more?</h3>
                <p><a href="mailto:contact@qby.se" class="btn btn-white btn-outline">Contact Us</a></p>
            </div>
        </div>
        <div class="row row-pb-md">
            <div class="col-md-6 gtco-widget gtco-footer-paragraph">
                <h3>Qby.se</h3>
                <p>More info coming soon.</p>
            </div>
            <div class="col-md-6 gtco-footer-link">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="gtco-list-link">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <a href="mailto:contact@qby.se">contact@qby.se</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-copyright">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <p><small>&copy; {{ .Year }} Markus Tenghamn (m@rkus.io). All Rights Reserved. </small></p>
                </div>
                <div class="col-md-6 text-right">
                </div>
            </div>
        </div>
    </div>
</footer>

</div>


{{/*<!-- jQuery -->*/}}
<script src="/js/jquery-3.3.1.min.js"></script>
{{/*<!-- jQuery Easing -->*/}}
{{/*<script src="js/jquery.easing.1.3.js"></script>*/}}
{{/*<!-- Bootstrap -->*/}}
<script src="/js/bootstrap.min.js"></script>
{{/*<!-- Waypoints -->*/}}
{{/*<script src="js/jquery.waypoints.min.js"></script>*/}}
{{/*<!-- Carousel -->*/}}
{{/*<script src="js/owl.carousel.min.js"></script>*/}}
{{/*<!-- Magnific Popup -->*/}}
{{/*<script src="js/jquery.magnific-popup.min.js"></script>*/}}
{{/*<script src="js/magnific-popup-options.js"></script>*/}}
{{/*<!-- Main -->*/}}
<script src="/qby_se/js/main.js"></script>

</body>
</html>
{{ end }}