{{ define "qby_se.head" }}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Qby.se - Ideas, Investment, Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We invest in ideas that work towards a successful future" />
    <meta name="keywords" content="invest, ideas, success, future" />
    <meta name="author" content="Markus Tenghamn - ma.rkus.io" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/qby_se/css/style.css">
</head>
{{ end }}