{{ define "qby_se.page" }}
    {{ template "qby_se.header" . }}

    <header id="gtco-header" class="gtco-cover" role="banner">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">
                    <div class="display-t">
                        <div class="display-tc">
                            <div class="row">
                                <div class="col-md-5 text-center header-img animate-box">
                                    <img src="/qby_se/images/cube.png">
                                </div>
                                <div class="col-md-7 copy animate-box">
                                    <h1>Qby.se - Ideas, Investment, Success.</h1>
                                    <p>We invest in ideas that work towards a successful future.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{ template "qby_se.footer" . }}
{{ end }}