{{ define "qby_se.header" }}
<!DOCTYPE HTML>
<html>


{{ template "qby_se.head" . }}


<body>

<div id="page">

    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">

            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo"><a href="/"><img src="/qby_se/images/logo.png" alt="Qby.se - Ideas, Investment, Success"> Qby.se</a></div>
                </div>
                    <div class="col-xs-10 text-right menu-1" id="navbarNav">
                        <ul class="nav">
                        {{range .Menu}}
                            <li class="nav-item">
                                <a class="nav-link" href="{{.Path}}">{{.Title}}</a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>

        </div>
    </nav>

{{ end }}