{{ define "install.page" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Install Beubo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/default/images/favicon.ico">
        <link rel="stylesheet" href="/default/css/normalize.min.css">
        <link rel="stylesheet" href="/default/css/milligram.min.css">
        <link rel="stylesheet" href="/default/css/style.min.css">
    </head>
    <body>


    <main class="wrapper">

        <section class="container">

            <div class="wrapper top-margin">
                <form action="/" method="post">
                    <fieldset>
                        <legend>Install</legend>

                        {{ if .Error }}
                            <div class="alert alert-danger" role="alert">
                                {{ .Error }}
                            </div>
                        {{ end }}

                        <label class="form-label" for="domain">Domain</label>
                        <input class="form-input" name="domain" id="domain" type="text"
                               placeholder="add current domain here?">

                        <label class="form-label" for="adminpath">Admin path</label>
                        <input class="form-input" name="adminpath" id="adminpath" type="text" placeholder="/admin">

                        <label class="form-label" for="dbhost">Database host</label>
                        <input class="form-input" name="dbhost" id="dbhost" type="text">

                        <label class="form-label" for="dbname">Database name</label>
                        <input class="form-input" name="dbname" id="dbname" type="text">

                        <label class="form-label" for="dbuser">Database user</label>
                        <input class="form-input" name="dbuser" id="dbuser" type="text">

                        <label class="form-label" for="dbpassword">Database password</label>
                        <input class="form-input" name="dbpassword" id="dbpassword" type="password">

                    </fieldset>
                    <fieldset>
                        <legend>Admin user</legend>

                        <label class="form-label" for="email">Email</label>
                        <input class="form-input" name="email" id="email" type="text">

                        <label class="form-label" for="password">Password</label>
                        <input class="form-input" name="password" id="password" type="password">

                    </fieldset>
                    <input type="submit" class="btn btn-primary" value="Install">
                </form>
            </div>
        </section>
    </main>

    </body>
    </html>
{{end}}