{{ define "install.page" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Install Beubo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/default/images/favicon.ico">
        <link rel="stylesheet" href="/default/css/normalize.min.css">
        <link rel="stylesheet" href="/default/css/milligram.min.css">
        <link rel="stylesheet" href="/default/css/style.min.css">
    </head>
    <body>


    <main class="wrapper">

        <section class="container">

            <div class="wrapper top-margin">
                <form action="/" method="post">
                    <fieldset>
                        <legend><h1>Install</h1></legend>

                        {{ if .Error }}
                            <div class="alert alert-danger" role="alert">
                                {{ .Error }}
                            </div>
                        {{ end }}

                        <label class="form-label" for="dbhost">Database host</label>
                        <input class="form-input" name="dbhost" id="dbhost" type="text" value="{{if and (.Extra) (.Extra.form) }}{{ .Extra.form.dbhost }}{{ end }}">

                        <label class="form-label" for="dbname">Database name</label>
                        <input class="form-input" name="dbname" id="dbname" type="text" value="{{if and (.Extra) (.Extra.form) }}{{ .Extra.form.dbname }}{{ end }}">

                        <label class="form-label" for="dbuser">Database user</label>
                        <input class="form-input" name="dbuser" id="dbuser" type="text" value="{{if and (.Extra) (.Extra.form) }}{{ .Extra.form.dbuser }}{{ end }}">

                        <label class="form-label" for="dbpassword">Database password</label>
                        <input class="form-input" name="dbpassword" id="dbpassword" type="password" value="{{if and (.Extra) (.Extra.form) }}{{ .Extra.form.dbpassword }}{{ end }}">

                    </fieldset>
                    <fieldset>
                        <legend>Admin user</legend>

                        <label class="form-label" for="email">Email/Username/Phone</label>
                        <input class="form-input" name="username" id="username" type="text" value="{{if and (.Extra) (.Extra.form) }}{{ .Extra.form.username }}{{ end }}">

                        <label class="form-label" for="password">Password</label>
                        <input class="form-input" name="password" id="password" type="password" value="{{if and (.Extra) (.Extra.form) }}{{ .Extra.form.password }}{{ end }}">

                    </fieldset>
                    <input type="submit" class="btn btn-primary" value="Install">
                </form>
            </div>
        </section>
    </main>

    </body>
    </html>
{{end}}