{{ define "default.admin.site.edit" }}
    {{ template "default.admin.header" . }}

    <section class="container" id="site-edit">
        <a class="button" href="/admin/">Back</a>

        {{ if .Error }}
            <div class="alert alert-danger" role="alert">
                {{ .Error }}
            </div>
        {{ end }}

        {{ if .Warning }}
            <div class="alert alert-warning" role="alert">
                {{ .Warning }}
            </div>
        {{ end }}

        {{ if .Message }}
            <div class="alert alert-info" role="alert">
                {{ .Message }}
            </div>
        {{ end }}

        <form method="post">
            <fieldset>
                <label for="typeField">
                    <input type="radio" id="typeField" name="typeField"
                           onclick="c(this)"{{ if eq .Extra.Type 1 }} checked{{ end }} value="1"> Buebo
                    hosted site
                </label>
                <label for="typeField">
                    <input type="radio" id="typeField" name="typeField"
                           onclick="c(this)"{{ if eq .Extra.Type 2 }} checked{{ end }} value="2"> HTML site loaded
                    from directory
                </label>
                <label for="typeField">
                    <input type="radio" id="typeField" name="typeField"
                           onclick="c(this)"{{ if eq .Extra.Type 3 }} checked{{ end }} value="3"> Redirect
                </label>
                <label for="titleField">Title</label>
                <input type="text" value="{{ .Extra.Title }}" name="titleField" id="titleField">
                <label for="domainField">Domain name</label>
                <input type="text" value="{{ .Extra.Domain }}" name="domainField" id="domainField">
                <div id="hosted">
                    <label for="themeField">Theme</label>
                    <select name="themeField" id="themeField">
                        {{ range $themeKey, $themeName := .Themes }}
                            <option value="{{ $themeKey }}"{{ if eq $.Extra.Theme.Slug $themeKey }} selected{{end}}>{{ $themeName }}</option>
                        {{ end }}
                    </select>
                </div>
                <div id="html" style="display: none;">
                    <label for="pathField">Local path</label>
                    <input type="text" placeholder="/var/www/html/" name="pathField" id="pathField">
                </div>
                <div id="redirect" style="display: none;">
                    <label for="destinationField">Destination domain</label>
                    <input type="text" placeholder="" name="destinationField" id="destinationField">
                </div>
                <input class="button-primary" type="submit" value="Update">
            </fieldset>
        </form>
    </section>

    <script>
        let current = 0;

        function c(r) {
            let hosted = document.getElementById ("hosted");
            let html = document.getElementById ("html");
            let redirect = document.getElementById ("redirect");
            switch (r.value) {
                case "1":
                    h (hosted, html, redirect);
                    break;
                case "2":
                    h (html, hosted, redirect);
                    break;
                case "3":
                    h (redirect, hosted, html);
                    break;
            }
        }

        // shows the first element and hides the other 2
        function h(x, y, z) {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        }
    </script>

    {{ template "default.footer" . }}
{{ end }}